.gameScreen {
    width: 100vw;
    height: 1119px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.gameWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameScreenWidgets {
    position: absolute;
    top: 16px;
    left: 16px;
}

.gameScreenCanvas {
    width: 100%;
    height: 100%;
}